In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df=pd.read_csv("data/dataset.csv")
print(len(df.columns))
print(len(df.index))

10
10

In [6]:
df=pd.read_csv("data/dataset.csv")
df.head(10)

,year,employment_ratio,household_expenditure,export_value_index,energy_use,net_portfolio_investment,import_value_index,population,GDP,SP500
0,2006,63.119999,9.980000e+12,131.211585,7697.652535,-6.330000e+11,152.312952,298379912,1.480000e+13,1318.309153
1,2007,62.990002,1.020000e+13,146.843915,7758.165986,-7.760000e+11,160.438577,301231207,1.510000e+13,1478.095825
2,2008,62.180000,1.020000e+13,164.651792,7488.081921,-8.080000e+11,172.277225,304093966,1.500000e+13,1215.221659
3,2009,59.320000,1.000000e+13,135.058024,7056.783653,1.853000e+10,127.475240,306771529,1.460000e+13,948.517492
4,2010,58.470001,1.020000e+13,163.507554,7160.939243,-6.210000e+11,156.371309,309348193,1.500000e+13,1130.681661
5,2011,58.369999,1.040000e+13,189.598909,7028.152876,-2.260000e+11,179.943142,311663358,1.520000e+13,1280.755829
6,2012,58.560001,1.060000e+13,197.680959,6869.385326,-4.980000e+11,185.541493,313998379,1.550000e+13,1386.505005
7,2013,58.580002,1.070000e+13,202.015173,6902.432830,-3.068600e+10,184.948765,316204908,1.580000e+13,1652.294169
8,2014,59.009998,1.100000e+13,207.250875,6956.813731,-1.190000e+11,191.578418,318563456,1.620000e+13,1944.414154
9,2015,59.340000,1.140000e+13,192.464472,6800.654493,-9.696900e+10,183.272106,320896618,1.660000e+13,2051.929169